.post {
  border: lightgray solid 1px;
  background-color: rgb(250, 253, 255);
  max-width: 400px;
  margin-bottom: 20px;
}

.post__image {
  object-fit: contain;
  border-top: lightgray solid 1px;
  border-bottom:  solid 1px rgb(250, 253, 255);
  width: 100%;
}
.post__text {
  font-weight: normal;
  padding: 20px;
}
.post__avatar {
  margin-right: 10px;
  border: solid 1px rgb(250, 253, 255);
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__commentbox {
  display:flex;
}

.post__input{
  flex:1 ;
  border-top:1px solid rgb(250, 253, 255);
  padding : 10px
}
.post__button{
  flex:0;
  border-top:1px solid rgb(250, 253, 255);
  background-color: transparent;
  color: #6082a3;
}

.post__comment{
  padding-left:20px;
  padding-right:20px;
  margin-bottom: 2px;
}