* {
  margin: 0;
}

.app__header img {
  object-fit: contain;
  width: 90px;
}
.app__headerImage {
  object-fit: contain;
  width: 90px;
}
.app__header {
  position:sticky;
top : 0;
z-index:1 ;
  padding: 2px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 253, 255);;
}

.app {
  background-color: #fafafa;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app_posts {
  display: flex;
  justify-content: center;
}

.app__postsLeft {
  /* justify-content: center; */
  /* display: block; */
  padding: 20px;
  /* border: lightgray solid 1px; */
  margin-left: auto;
  margin-right: auto;
}

.app__postsRight {
  border-left: lightgray solid 1px;
  padding : 20px;
  /* display: block; */
  /* justify-content: center; */

}
