* {
  margin: 0;
}

.app__header img {
  object-fit: contain;
  width: 90px;
}
.app__headerImage {
  object-fit: contain;
  /* width: 90px; */
}
.app__header {
  padding: 2px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
}

.app {
  background-color: #fafafa;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app_posts {
  display: flex;
  border: black solid 1px;
  justify-content: center;
}

.app__postsLeft {
  /* justify-content: center; */
  /* display: block; */
  padding: 20px;
  border: limegreen solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.app__postsRight {
  border: lightpink solid 1px;
  /* display: block; */
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
}
